# PPI Single Sample Overfit Test
# Similar to antibody overfit, but for general PPI interface design

model:
  type: antibody_bfn
  res_feat_dim: 128
  pair_feat_dim: 64
  diffusion:
    num_steps: 20
    eps_net_opt:
      num_layers: 6
  train_structure: true
  train_sequence: true
  ot_opt:
    num_iters: 5

train:
  loss_weights:
    # Sequence-only design
    seq: 1.0
  max_iters: 3000
  val_freq: 3000
  log_freq: 100
  batch_size: 1
  warmup_steps: 50
  seed: 2022
  max_grad_norm: 1.0
  optimizer:
    type: adam
    lr: 5.e-4
    weight_decay: 0.0
    beta1: 0.9
    beta2: 0.999
  scheduler:
    type: plateau
    factor: 0.8
    patience: 10
    min_lr: 5.e-6

dataset:
  train:
    type: custom_ppi
    structure_dir: ./data/ppi_overfit
    receptor_chain: A
    ligand_chain: C
    design_chain: ligand
    transform:
    - type: mask_interface
      design_chain: ligand
    - type: merge_ppi_chains
      design_chain: ligand
    - type: patch_around_interface
      patch_size: 256
  val:
    type: custom_ppi
    structure_dir: ./data/ppi_overfit
    receptor_chain: A
    ligand_chain: C
    design_chain: ligand
    transform:
    - type: mask_interface
      design_chain: ligand
    - type: merge_ppi_chains
      design_chain: ligand
    - type: patch_around_interface
      patch_size: 256
